<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tecnoinf.proyecto.grupo4.usbusdroid3.usbusdroidtrip">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="USBus Principal" />
        <activity android:name=".Activities.Tickets.TicketOptionsActivity" android:label="USBus Pasajes" />
        <activity android:name=".Activities.Trip.TripOptionsActivity" android:label="USBus Viajes" />
        <activity android:name=".Activities.Tickets.ScanTicket.ScanTicketActivity" android:label="USBus QR Scan" />
        <activity android:name=".Activities.Tickets.ScanTicket.STShowDetailsActivity" android:label="USBus Detalles de Pasaje" />
        <activity android:name=".Activities.Trip.StartTrip.StartTripActivity" android:label="USBus Iniciar Viaje" />
        <activity android:name=".Activities.Trip.StartTrip.STResultActivity" android:label="USBus Iniciar Viaje" />
        <activity android:name=".Activities.Trip.CloseTrip.CTConfirmationActivity" android:label="USBus Fin Viaje" />
        <activity android:name=".Activities.Trip.Odometer.SetOdometerActivity" android:label="USBus Odometro" />
        <activity android:name=".Activities.Tickets.NewTicket.NewTicketActivity" android:label="USBus Vender Pasaje" />
        <activity android:name=".Activities.Tickets.NewTicket.NTBusStopSelectionActivity" android:label="USBus Vender Pasaje" />
        <activity android:name=".Activities.Tickets.NewTicket.NTConfirmationActivity" android:label="USBus Vender Pasaje" />
        <activity android:name=".Activities.Trip.RouteStop.RouteStopListActivity" android:label="USBus Paradas" />
        <activity android:name=".Activities.Tickets.CancelTicket.CancelTicketListActivity" android:label="USBus Cancelar Pasaje" />
        <activity android:name=".Activities.Tickets.PrintTicket.PrintTicketListActivity" android:label="USBus Imprimir Pasaje" />
        <activity android:name=".Activities.Tickets.PrintTicket.PTConfirmationActivity" android:label="USBus Imprimir Pasaje" />
        <activity android:name=".Helpers.SettingsActivity" android:label="USBus Parametros" />
        <activity android:name=".Activities.Parcel.ParcelOptionsActivity" android:label="USBus Encomiendas" />
        <activity android:name=".Activities.Parcel.JourneyParcels.JourneyParcelsListActivity" android:label="USBus Encomiendas" />
        <activity android:name=".Activities.Parcel.RouteStopParcels.RPParcelListActivity" android:label="USBus Encomiendas" />
        <activity android:name=".Activities.Parcel.RouteStopParcels.RPRouteStopListActivity" android:label="USBus Encomiendas" />
    </application>

</manifest>